<div>
    <h1>Add Task</h1>

    <form [formGroup]="taskForm" (ngSubmit)="addTask(taskForm.value)">
        <input formControlName="title" name="taskTitle" placeholder="Task Title" />
        <textarea formControlName="description" name="taskDescription" placeholder="Task Description"></textarea>
        <select placeholder="Select Project" formControlName="projectKey" name="projectKey">
			<option *ngFor="let project of projects" [value]="project.$key">
				{{ project.title }}
			</option>
		</select>

        <button type="submit">Submit</button>
    </form>
</div>