<md-card>
    <h1>{{ mode }} Project</h1>

    <form [formGroup]="projectForm" (ngSubmit)="addProject(projectForm.value)">
        <md-input-container>
            <input mdInput formControlName="title" name="projectTitle" placeholder="Project Title" />
        </md-input-container>
        <md-input-container>
            <textarea mdInput formControlName="description" name="projectDescription" placeholder="Project Description"></textarea>
        </md-input-container>

        <button type="submit" md-raised-button>Submit</button>
    </form>
</md-card>

<div *ngIf="mode=='Edit'">

    <h2>Tasks in this project</h2>
    <app-search list="tasks" searchIn="projectID"  [defaultTerm]="projectID" (onResults)="setResults($event)"></app-search>
    
    <button md-raised-button routerLink="/tasks/{{ projectID }}/add">Add Task</button>
    <br /><br />

    <app-task-card class="card-grid-item" *ngFor="let task of tasks" [task]="task"></app-task-card>

</div>