<h1>Add Project</h1>

<form [formGroup]="projectForm" (ngSubmit)="addProject(projectForm.value)">
    <md-input-container>
        <input mdInput formControlName="title" name="projectTitle" placeholder="Project Title" />
    </md-input-container>
    <md-input-container>
        <textarea mdInput formControlName="description" name="projectDescription" placeholder="Project Description" (change)="console.log('changed')"></textarea>
    </md-input-container>

    <button type="submit" md-raised-button>Submit</button>
</form>
