<div>
    <h1>{{ mode }} Project</h1>

    <form [formGroup]="projectForm" (ngSubmit)="addProject(projectForm.value)">
        <input formControlName="title" name="projectTitle" placeholder="Project Title" />
        <textarea formControlName="description" name="projectDescription" placeholder="Project Description"></textarea>
        <input type="text" name="deliverydate" formControlName="deliverydate" placeholder="Delivery Date" (click)="openCalendar()" [value]="projectForm.get('deliverydate').value | date:fullDate" />

        <br /><br />

        <button type="submit">Submit</button>
    </form>

</div>

<div *ngIf="mode=='Edit'">

    <h2>Tasks in this project</h2>
    <app-search list="tasks" searchIn="projectID"  [defaultTerm]="projectID" (onResults)="setResults($event)"></app-search>
    
    <button routerLink="/tasks/{{ projectID }}/add">Add Task</button>
    <br /><br />

    <app-task-card class="card-grid-item" *ngFor="let task of tasks" [task]="task"></app-task-card>
    <div *ngIf="tasks?.length <= 0">
        There are no tasks with that title
    </div>

</div>