/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

body {
    background-color: #f4f4f4;
    font-family: 'Roboto', 'Helvetica Neue Light' ,'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
}

md-card {
    background-color: white;
}

md-option {
    color: #333;
}

.cdk-overlay-container {
    color: white;
    text-align: center;
    position: fixed; left: 50%; bottom: 0px; transform: translateX(-50%) translateX(0px);
}
.cdk-overlay-container p {
    color: white !important;
    padding: 0;
    margin: 0;
    text-align: center;
}

cdk-visually-hidden {
    display: none !important;
}

@media(max-width: 400px) {
    .mat-select-trigger {
        min-width: 0px !important;
    }
}